*
{
margin:6px;
padding:6px;
}

body
{
  background:lightgray;
  font-family: Arial, sans-searl,'Times New Roman';
}

#CUERPO
{
  background:#fffacd;
  width:1100px;
  margin:2px auto;
  border: 1.5px solid black;
  color: black;
}

#TITULO
{
  background:#ffff00;
  width:1100px;
  margin:2px auto;
  border: 1.5px solid black;
  color: black;
}
  
  
  

