*
{
margin:0.5px;
padding:0.5px;
}

body
{
  background:lightgray;
  font-family: Arial, sans-searl,'Times New Roman';
}

#CUERPO
{
  width:1100px;
  margin:0px auto;
  border: 1px solid black;
}
  
  
  

